.taskform {
    display: flex;
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 7%;
    padding-right: 12%;
    flex-direction: row;    
}
.taskform input:first-child {
    width: 52%;
    height: 40px;
    border-radius: 5px;
    
}
.taskform input:last-child {
    width: 10%;
    border-radius: 5px;
    background-color: #082a4d;
    color: #dcfffc;
    height: 35px;
    margin-left: 12%;
}
.task {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}
.task p {
    width: 60%;
    border: 2px solid #000;
    border-radius: 5px;
    padding: 20px 0 20px 10px;
    background: honeydew;
}
.icon {
    height: 5em;
    font-size: 1.30em;
    color: honeydew;
    margin-right: 10%;
}